<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method="get">
        <p>
            Name: <input type="text" name="name" /> </br>
            <input type="submit" value="Submit" class="submit" />
        </p>
    </form>
</body>
</html>
